* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* 
header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
} */

header {
    padding: 40px;
    background-color: rgb(223, 27, 27);
    /* background-image: url(img/photo.jpg); */
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
nav a:hover{
    color: rgb(241, 0, 141);
}

main {
    background-color: rgb(40, 199, 186);
    text-align: center;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

/* img {
    padding: 10px;
} */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

section h5 {
    margin: 40px;
}
.linkedin:hover{
    background-color: rgb(18, 138, 194);
    text-decoration-line: none;
    
}
.youtube:hover{
    background-color: rgb(18, 138, 194);
    text-decoration-line: none;
    
}
.instagram:hover{
    background-color: rgb(18, 138, 194);
    text-decoration-line: none;
    
}
footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

span {
    font-size: 3em;
    position:relative;
  }
  span:after {
    position: absolute;
    content: attr(content);
    top: 0;
    left: 0;
    -webkit-transition: all 750ms;
    -moz-transition: all 750ms;
    -o-transition: all 750ms;
    transition: all 750ms;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
  }
  span:hover:after {
    -webkit-transform: skew(10deg, 25deg);
    -ms-transform: skew(10deg, 25deg);
    transform: skew(10deg, 25deg);
  }